legend New User
form(action='/users', method="POST")
  label(for='email') Email
  input(type='text', name='email')
  br
  label(for='password') Password
  input(type='password', name='password')
  br
  button(type="submit") Save
